@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1574995146399'); /* IE9 */
  src: url('iconfont.eot?t=1574995146399#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABlQAAAJrAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApgbgE2AiQDCAsGAAQgBYRtBzAblAUR1Yt1sr8VdywU+LeUFbJag9qT28jOq2caWqJ2+CV6Q4/Es/MzQGcgj4zHAxEUa2XP0gOj/HoLHEJLrCIUko2QQMIlHtihBLKxB47DUdJ7Rgtra4gmothCOosk0kHWJLqd+G5YpH5L3/8DpQh7gscKUFJBMveCAeHt3Put75mzxG3gkANOrKWcQqBf+SCSGAA+z+X07iqgQOYHynHtTRMDjHs+APfCNlmRxN4wdoFLOE+gUq9psexu3q0y1rRAnA6OHdBcQCZj6XKhqFmbPYw0lCfXksGd8Pvxx4mRyFNW1fajK4ftOzurs6Xh4BOCIKDNOVJMIyN21ya2kmDMVGXCBtlXefAdvkns9c8TBau0GnRDwT0JXdGtphO4rb460D/qMUSH3js7Qdz4+AvrnXs22/PnPvx5jNy/trxnvbtcUN3W37JiHcnK/9AsgNKvobYKgl3//7ePTwY+9RehqJ8LlO/KGfySujyAfDcXW4kkQ0vvQKLjVDWVKlEC5Gn0baym5fyZUK5lhKtMT4pUuWEyY0wjV2UGhXJzqDRlbXOVJmdIZBWYdAkg1HuKRK3nSNV7TWaMr8i1+odCfYRKe4M9q4yGFnQvdFV64O2LwT1L2TFrNypfk/eMr5IVh6w9SRmE0TasYnpJKckcC8qX56gysmQJuuAyiuMMc8lCuqvhq+Zz0+S6Nxn3LIEuXOiq9MDbF4N7lrLfWbulz6/Je8ZXaWmp8e9JymBwtA2rB7lUpL1a7uWa8uU5qowsWYIuGEVxnGFePyqkuxr+iFg+N+123FdhrK9Kvm4XVIKlTSr2sBqEr6n/DAAAAAAA') format('woff2'),
  url('iconfont.woff?t=1574995146399') format('woff'),
  url('iconfont.ttf?t=1574995146399') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1574995146399#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e60b";
}

